body {
  font-family: getFonts("font-family-main"), getFonts("font-family-alt");
  font-weight: getFonts(font-weight);
  font-size: getFonts(font-size);
  font-style: getFonts(font-style);
  line-height: getFonts(line-height);
  letter-spacing: getFonts(letter-spacing);

  background-color: getColor(background-body);
}
