//===========BUTTONS MIXIN==================//
@mixin button(
  $display,
  $min-width,
  $min-height,
  $padd-y,
  $padd-x,
  $bcg-color,
  $color
) {
  display: $display;
  align-items: center;

  min-width: $min-width;
  min-height: $min-height;

  padding: $padd-y $padd-x;

  font-family: inherit;
  text-align: center;

  border-radius: 4px;

  background-color: $bcg-color;
  color: $color;

  cursor: pointer;
}

//===================FONT PRESETS====================//
@mixin font-preset(
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 24px,
  $letter-spacing: 0.03em
) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: lineHeight($font-size, $line-height);
  letter-spacing: $letter-spacing;
}
