.page-header {
  //   height: 80px;
  border-bottom: 1px solid #ececec;

  &__container {
    @include container(flex, 0, 0);
    align-items: baseline;
  }
}

//========NAVIGATION styles start here=============//

.navigation {
  display: flex;
  margin-left: 93px;

  &__item {
    padding-top: 32px;
    margin-right: 50px;
  }

  & :first-child {
    padding-bottom: 0;
  }

  & :last-child {
    margin-right: 0;
  }
}

.navigation__link {
  display: block;
  @include font-preset(
    $font-weight: 500,
    $line-height: 16px,
    $letter-spacing: 0.02em
  );
  color: getColor(headings);

  &:hover,
  &:focus {
    color: getColor(accent);

    transition: color getTransition(speed) getTransition(speed-func);
  }
}

.navigation__link--current {
  color: getColor(accent);

  &::after {
    display: block;
    margin-top: 28px;

    content: "";
    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: getColor(accent);
  }
}

// ==============NAVIGATION styles end here====================//

// ==============CONTACTS styles start here====================//

.contacts {
  display: flex;
  align-items: center;

  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @include font-preset(
    $font-weight: 500,
    $line-height: 16px,
    $letter-spacing: 0.02em
  );

  color: getColor(text-main);

  .contacts__item:hover &,
  .contacts__item:focus & {
    color: getColor(accent);

    transition: color getTransition(speed) getTransition(speed-func);
  }
}

.contacts__icon {
  fill: getColor(fill-icon);
  margin-right: 10px;

  .contacts__item:hover & {
    fill: getColor(accent);
    transition: color getTransition(speed) getTransition(speed-func);
  }
}
// ==============CONTACTS styles end here====================//
