.partners {
  @include section;

  &__container {
    @include container($display: block);
  }

  &__title {
    margin-bottom: 50px;

    @include font-preset(700, 36px, 42px);
    text-align: center;

    color: getColor(headings);
  }
}

.company {
  display: flex;

  &__link {
    display: block;
    width: 100%;
  }
}

.company__element {
  width: 170px;

  padding: 16px 32px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    border-color: getColor(accent);

    @include transition(border-color);

    cursor: pointer;
  }
}

.company__icon {
  fill: #afb1b8;

  transition: fill getTransition(speed) getTransition(speed-func);

  .company__element:hover &,
  .company__element:focus & {
    fill: getColor(accent);
  }
}
