//=====================COLORS===========================//
$colors: (
  "accent": #2196f3,
  //main and accent color in website
  "headings": #212121,
  //mostly used color of headlines
  "text-main": #757575,
  // mostly used color of text
  "text-alt": #ffffff,
  // alternative color of text
  "background-body": #ffffff,
  // body background color
  "background-footer": #2f303a,
  // color of background in footer
  "background-overlay-card": rgba(33, 150, 243, 0.9),
  //cards overlay background color
  "logo-header": #000000,
  //color of "Studio" part in logo in header
  "logo-footer": #ffffff,
  //color of "Studio" part in logo in footer
  "links-footer": rgba(255, 255, 255, 0.6),
  // coor of links in footer,
  "fill-icon": #757575,
  //color of svg icons fill
);

@function getColor($key) {
  @return map-get($colors, $key);
}

//=================TRANSITION AND MARGINS================//
$transitions: (
  "speed": 250ms,
  //is used for transitions while hovered and focused
  "speed-alt": 500ms,
  // aplies for scaling text in cards overlay
  "speed-func": cubic-bezier(0.4, 0, 0.2, 1),
  //is used for  transitions while hovered and focused
);

@function getTransition($key) {
  @return map-get($transitions, $key);
}

$marginfGridItem: 30px; // used in calc() for setting up margins between elements in flex grids

//=====================FONTS=========================//

$font-main: "Roboto";
$font-second: "Raleway";
$font-alt: sans-serif;

$font-size-base: 14px; // base font-size, is ysed in body
$font-size: (
  -1: $font-size-base - 2,
  // 12px, used in forms
  0: $font-size-base,
  1: $font-size-base + 2,
  // 16px, used in buttons, form placeholders,
  2: $font-size-base + 4,
  // 18px, used in project section headings, overlay text,
  3: $font-size-base + 6,
  // 20px, used in form headings
  4: $font-size-base + 12,
  // 26px, used in logo
  5: $font-size-base + 22,
  //36px, used in headings
  6: $font-size-base + 30,
  //44px, is used in hero heading
);

$font-weight: (
  0: 400,
  //normal
  1: 500,
  //semi-bold
  2: 700,
  //bold
  3: 900,
  //extra-bold
);

$line-height: (
  -8: 1.14,
  -7: 1.16,
  -6: 1.17,
  -5: 1.19,
  -4: 1.25,
  -3: 1.36,
  -2: 1.56,
  -1: 1.62,
  0: 1.71,
  1: 1.87,
  2: 2
);

$letter-spacing-base: 0.03em;
$letter-spacing: (
  -2: $letter-spacing-base - 0.02,
  //0.01em, used in textarea
  -1: $letter-spacing-base - 0.01,
  //0.02em, used in header links
  0: $letter-spacing-base,
  //0.03, base level, used in body
  1: $letter-spacing-base * 2 //0.06, mostly used buttons
);

//=====================FONTS FUNCTIONS==================//

@function fontSize($size) {
  @return map-get($font-size, $size);
}

@function fontWeight($weight) {
  @return map-get($font-weight, $weight);
}

@function lineHeight($height) {
  @return map-get($line-height, $height);
}

@function letterSpacing($spacing) {
  @return map-get($letter-spacing, $spacing);
}
